@model ContactsModel
@{
    ViewData["Title"] = "Contacts";
}

    <h1>Contacts</h1>

    <p>
        Contact name: <b>@Model.Name</b>
    </p>
    
    <p>
        Contact address: <b>@Model.Address</b>
    </p>

     <p>
        Contact number: <b>@Model.Number</b>
    </p>