<div class="article" data-id="{{id}}" style='border: 3px solid lightgray; box-shadow: 0 0 4px 5px lightblue; margin-bottom: 1em;
                         padding: 10px; border-radius: 5% 40% 5% 5%; overflow: auto; background-color:lightgreen'>
    <div style='display: block; float: left'>
        <img src='/img/UserImg/{{avatar}}' style='height:8ch; width:8ch;
                                 border:1px solid grey; border-radius: 30%; background: white' />
    </div>
    <div style='float: none; overflow: auto; padding-left: 10px'>
        <b>{{author}}</b><br /> {{moment}}
        <hr style='border: 1px solid blue; border-radius: 2px;'>
    </div>
    {{PictureFileForArticle}}
    <div style='float: none; overflow: auto; padding-left: 15px;'>
        <p>{{text}}</p>
    </div>
    <span style="float:right; font-size:xx-large; cursor:pointer">&#x2936;</span>
</div>